<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.fantasybaby.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.fantasybaby.Perspective"
            id="TestRPC.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.fantasybaby.view.HelloView"
            icon="icons/sample.gif"
            id="com.fantasybaby.view.HelloView"
            name="Hello View">
      </view>
   </extension>

</plugin>
